<!DOCTYPE HTML>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: header">
  <title>Hello</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
  <div th:replace="fragments/bodyHeader :: bodyHeader" />
  <h2>로그인</h2>
  <div style="color:red;">
    <p th:text="${#request.getAttribute('errorMessage')}"></p>
  </div>

  <form method="post" th:action="@{/login}" id="loginForm">
    <div class="form-group">
      <label for="email">이메일</label>
      <input class="form-control" type="email" name="email" id="email">
    </div></br>

    <div class="form-group">
      <label for="password">비밀번호</label>
      <input class="form-control" type="password" name="password" id="password">
    </div></br>

    <button type="submit" class="btn btn-lg btn-secondary">로그인</button>
    <a class="btn btn-lg btn-secondary" href="/signup">회원 가입</a>
  </form>


</div>
</div> <!-- /container -->
</body>
</html>
